/* =========================BASE==================================== */

:root {
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --title-color-theme-light: #2e2f42;
  --text-color-theme-light: #434455;
  --title-color-theme-dark: #ffffff;
  --text-color-theme-dark: #e7e9fc;
  --accent-color: #404bbf;
  --text-button-color-dark: #4d5ae5;
  --background-button-color-light: #f4f4fd;
  --logo-color-theme-dark: #f4f4fd;
  --background-color-dark: #2e2f42;
  --background-color-white: #ffffff;
  --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  font-family: var(--primary-font);
  font-style: normal;
  color: var(--text-color-theme-light);
}

button {
  font-family: inherit;
  cursor: pointer;
  border: 0;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/* =========================/BASE==================================== */

/* =========================GENERAL==================================== */
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.subtitle {
  text-align: center;
}

.headline {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--title-color-theme-light);
}

.text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color-theme-light);
}

@media screen and (min-width: 480px) {
  .container {
    width: 426px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 766px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1158px;
  }

  .subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-color-theme-light);
  }
}

/* =========================/GENERAL==================================== */

/* =========================HEADER==================================== */

@media screen and (max-width: 767px) {
  .menu-list {
    display: none;
  }

  .contact-content {
    display: none;
  }

  .mobile-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: #ffffff;

    display: none;
  }

  .mobile-menu.is-open {
    display: block;
  }

  .mobile-menu-container {
    position: relative;
    padding: 40px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .mobile-menu_close-btn {
    position: absolute;
    top: 40px;
    right: 40px;
    width: 24px;
    height: 24px;
    background: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    line-height: 0;
    border-color: transparent;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mobile-menu-item {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-top: 40px;
  }

  .mobile-menu-link:hover,
  .mobile-menu-link:focus,
  .mobile-menu-link.current {
    color: var(--accent-color);
  }

  .mobile-contact {
    font-style: normal;
  }

  .mobile-contact-content {
    margin-top: auto;
  }

  .mobile-contact-item {
    margin-top: 40px;
  }

  .mobile-contact-phone-number {
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
    color: #4d5ae5;
  }
  .mobile-contact-phone-number {
    color: var(--text-color-theme-light);
  }

  .mobile-contact-gmail {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--text-color-theme-light);

    transition: color var(--transition-dur-and-func);
  }

  .mobile-contact-gmail:hover,
  .mobile-contact-gmail:focus,
  .mobile-contact-phone-number:hover,
  .mobile-contact-phone-number:focus {
    color: var(--accent-color);
  }

  .mobile-social-list {
    margin-top: 48px;
  }

  .mobile-social-item {
    padding: 0;
    line-height: 0;
    width: 40px;
    height: 40px;
    background: #4d5ae5;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mobile-social-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #e7e9fc;
}

.mobile-menu-open {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
}

.logo-link {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color-theme-light);
  margin-right: 76px;
  margin-bottom: 24px;
}

.box-logo {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-button-color-dark);
}

@media screen and (min-width: 768px) {
  .mobile-menu-open {
    display: none;
  }

  .mobile-menu {
    display: none;
  }

  .page-header {
    padding-bottom: 0;
  }

  .logo-link {
    line-height: 1.33;
  }

  .page-header-container {
    align-items: normal;
  }

  .page-nav {
    display: flex;
    align-items: center;
  }

  .menu-list {
    display: flex;
  }

  .menu-item {
    width: 66px;
    height: 52px;
  }

  .menu-item:not(:last-child) {
    margin-right: 40px;
  }

  .menu-link {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--title-color-theme-light);
    padding-bottom: 22px;

    transition: color var(--transition-dur-and-func);
  }

  .menu-link:hover,
  .menu-link:focus,
  .menu-link.current {
    color: var(--accent-color);
  }

  .menu-link.current::after {
    position: absolute;
    bottom: 0;
    display: inline-block;
    color: var(--accent-color);
    content: "";
    width: 66px;
    height: 4px;
    background: #404bbf;
    border-radius: 2px;
  }

  .contact {
    font-style: normal;
  }

  .contact-item:not(:last-child) {
    margin-right: 40px;
  }

  .contact-content {
    margin-left: auto;
  }

  .contact-gmail,
  .contact-phone-number {
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: var(--text-color-theme-light);

    transition: color var(--transition-dur-and-func);
  }

  .contact-gmail:hover,
  .contact-gmail:focus,
  .contact-phone-number:hover,
  .contact-phone-number:focus {
    color: var(--accent-color);
  }
}

@media screen and (min-width: 1200px) {
  .logo-link {
    margin-bottom: 28px;
  }

  .menu-link {
    padding-bottom: 24px;
  }

  .contact-list {
    display: flex;
    justify-content: center;
    margin-bottom: 28px;
  }

  .contact-gmail,
  .contact-phone-number {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

/* =========================/HEADER==================================== */

/* =========================HERO==================================== */

.hero {
  max-width: 767px;
  background-color: #2e2f42b2;
  margin-right: auto;
  margin-left: auto;
  padding-top: 188px;
  padding-bottom: 188px;
  text-align: center;

  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(/images/hero-image-mobile@1x.jpg);
  background-size: cover;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(/images/hero-image-mobile@2x.jpg);
  }
}

.hero-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--title-color-theme-dark);

  margin-bottom: 80px;
  max-width: 322px;
  margin-left: auto;
  margin-right: auto;
}

.modal-btn {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--title-color-theme-dark);
  background-color: var(--text-button-color-dark);

  padding: 16px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  transition: color var(--transition-dur-and-func),
    background-color var(--transition-dur-and-func);
}

.modal-btn:hover,
.modal-btn:focus {
  color: var(--title-color-theme-dark);
  background-color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 1199px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(/images/hero-image-tablet@1x.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(/images/hero-image-tablet@2x.jpg);
    }
  }

  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1400px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(/images/hero-image-desc@1x.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(/images/hero-image-desctop@2x.jpg);
    }
  }

  .hero-title {
    max-width: 496px;
  }
}

/* =========================/HERO==================================== */

/* =========================FEATURES================================== */

.features-icon-wrapper {
  display: none;
}

.features {
  padding-top: 96px;
  padding-bottom: 96px;
}

.features-subtitle {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--title-color-theme-light);
}

.features-item {
  margin-bottom: 72px;
  max-width: 396px;
}

@media screen and (min-width: 768px) {
  .features-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-right: -24px;
    margin-bottom: -72px;
  }

  .features-item {
    max-width: 334px;
    margin-right: 24px;
    margin-bottom: 72px;
  }
}

@media screen and (min-width: 1200px) {
  .features-icon-wrapper {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 112px;
    border-radius: 4px;
    background-color: var(--background-button-color-light);
    margin-bottom: 8px;
  }

  .features {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .features-item {
    max-width: 264px;
  }

  .features-item:not(:last-child) {
    margin-right: 24px;
  }
}

/* =========================/FEATURES================================== */

/* =========================DOING==================================== */

.doing {
  display: none;
}

@media screen and (min-width: 1200px) {
  .doing {
    display: block;
    padding-bottom: 120px;
  }

  .doing-headline {
    margin-bottom: 72px;
  }

  .doing-list {
    display: flex;
    justify-content: space-between;
  }

  .doing-item:not(:last-child) {
    background: var(--background-color-white);
    margin-right: 24px;
  }
}

/* =========================/DOING==================================== */

/* =========================OUR_TEAM==================================== */
.team {
  background: var(--background-button-color-light);
  padding-top: 96px;
  padding-bottom: 128px;
}

.team-headline {
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: -72px;
}

.team-item {
  width: 264px;
  margin-bottom: 72px;
  background-color: var(--background-color-white);
}

.team-subtitle {
  margin-bottom: 8px;
}

.team-content {
  max-width: 264px;
  text-align: center;
  padding: 32px 16px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-text {
  margin-bottom: 8px;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--text-button-color-dark);

  transition: background-color var(--transition-dur-and-func);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .team {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .team-list {
    margin-right: -24px;
    margin-bottom: -64px;
  }

  .team-item {
    margin-right: 24px;
    margin-bottom: 64px;
  }
}

@media screen and (min-width: 1200px) {
  .team {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .team-item {
    width: calc((100% / 4 - 24px));
  }
}

/* =========================/OUR_TEAM==================================== */

/* =========================CUSTOMERS==================================== */

.customers {
  padding-top: 96px;
  padding-bottom: 96px;
}

.customers-headline {
  margin-bottom: 72px;
}

.customers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  row-gap: 72px;
  column-gap: 16px;
}

.customers-item {
  width: 190px;
  height: 88px;
}

.customers-link-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(142, 143, 153, 0.6);
  border-radius: 4px;
  color: #8e8f99;

  transition: color var(--transition-dur-and-func),
    background-color var(--transition-dur-and-func);
}

.customers-link-icon:hover,
.customers-link-icon:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.customers-icon {
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .customers-list {
    gap: 24px;
  }

  .customers-item {
    width: 168px;
    height: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .customers {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

/* =========================/CUSTOMERS==================================== */

/* =========================/PORTFOLIO==================================== */

.filter {
  padding-top: 48px;
  padding-bottom: 48px;
}

.filter-list {
  margin-bottom: 48px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  column-gap: 24px;
  row-gap: 16px;
}

.filter-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--text-button-color-dark);
  background-color: var(--background-button-color-light);
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;

  transition: color var(--transition-dur-and-func),
    background-color var(--transition-dur-and-func),
    box-shadow var(--transition-dur-and-func);
}

.filter-btn:hover,
.filter-btn:focus {
  color: var(--title-color-theme-dark);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.works-item {
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #e7e9fc;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #e7e9fc;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #e7e9fc;

  background-color: var(--background-color-white);
  border: 1px solid #e7e9fc;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.works-list {
  margin-bottom: -48px;
}

.works-item {
  margin-bottom: 48px;
}

.works-item-link {
  display: block;

  transition: background-color var(--transition-dur-and-func),
    box-shadow var(--transition-dur-and-func);
}

.works-item-link:hover,
.works-item-link:focus {
  background-color: var(--background-color-white);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.works-item-img-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: auto;
  transform: translateY(100%);
  transition: transform var(--transition-dur-and-func);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  padding: 40px 32px;
  background-color: #4d5ae5;
  color: #f4f4fd;
}

.works-item-link:hover .overlay,
.works-item-link:focus .overlay {
  transform: translateY(0);
}

.works-subtitle {
  margin-bottom: 8px;
  text-align: start;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.card-content {
  padding: 32px 16px 32px 16px;
}

@media screen and (min-width: 768px) {
  .filter {
    padding-top: 64px;
    padding-bottom: 96px;
  }

  .filter-list {
    margin-bottom: 64px;
    display: flex;
    justify-content: center;
    gap: 24px;
  }

  .works-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -24px;
    margin-bottom: -72px;
  }

  .works-item {
    margin-right: 24px;
    margin-bottom: 72px;
    flex-basis: calc(100% / 2 - 24px);
  }
}

@media screen and (min-width: 1200px) {
  .filter {
    padding-top: 96px;
    padding-bottom: 120px;
  }

  .filter-list {
    margin-bottom: 72px;
  }

  .works-list {
    margin-bottom: -72px;
  }

  .works-item {
    margin-bottom: 72px;
    flex-basis: calc(100% / 3 - 24px);
  }
}

/* =========================/PORTFOLIO==================================== */

/* =========================FOOTER==================================== */

.footer {
  background: var(--background-color-dark);
  padding-top: 96px;
  padding-bottom: 96px;
}

.footer-logo {
  display: inline-block;
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-color-theme-dark);
  margin-bottom: 16px;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color-theme-dark);
  width: 264px;
}

.social-media-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.social-media-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--background-color-white);

  margin-bottom: 16px;
}

.social-media-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--transition-dur-and-func);
}

.social-media-link:hover,
.social-media-link:focus {
  background-color: #31d0aa;
}

.footer-social-media {
  max-width: 208px;
  margin-left: 0;
}

@media screen and (min-width: 768px) {
  .footer {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .footer-container {
    display: flex;
    flex-wrap: wrap;
    width: 569px;
  }

  .footer-content {
    margin-right: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .footer-container {
    width: 1158px;
  }

  .footer-content {
    margin-right: 120px;
  }
}

/* =========================FOOTER-FORM-SUBSCRIBE==================================== */

.subscribe-form-desc {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.subscribe-form-email {
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  width: 396px;
  height: 40px;
  padding: 8px 16px;
  outline: none;
  color: #ffffff;

  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  transition: border var(--transition-dur-and-func);
}

.subscribe-form-email:focus {
  border: 1px solid #4d5ae5;
}

.subscribe-form-email::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
}

input:focus::placeholder {
  color: transparent;
}

.subscribe-form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 165px;
  height: 40px;
  padding: 8px 24px;
}

@media screen and (max-width: 768px) {
  .footer-content {
    margin-bottom: 72px;
  }

  .footer-social-media {
    margin-bottom: 72px;
  }

  .subscribe-form-email {
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 768px) {
  .subscribe-email-wrapper {
    display: flex;
    gap: 24px;
  }

  .subscribe-form-email {
    width: 264px;
  }

  .subscribe-icon {
    display: inline-block;
    background-size: contain;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-content {
    margin-bottom: 72px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-form {
    margin-left: auto;
  }
}

/* =========================/FOOTER-FORM-SUBSCRIBE==================================== */

/* =========================/FOOTER==================================== */

/* =========================MODAL-WINDOW==================================== */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);

  /* transform: scale(1); */
  transition: opacity var(--transition-dur-and-func),
    visibility var(--transition-dur-and-func);
  /* transform var(--transition-dur-and-func); */
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  /* transform: scale(0.5); */
}

.modal {
  position: absolute;
  width: 408px;
  background-color: #fcfcfc;
  top: 50%;
  left: 50%;

  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--transition-dur-and-func),
    opacity var(--transition-dur-and-func);
  padding: 72px 24px 24px 24px;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
  opacity: 0;
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: fill var(--transition-dur-and-func),
    background-color var(--transition-dur-and-func);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: var(--accent-color);
}

.close-icon {
  transition: fill var(--transition-dur-and-func);
}

.modal-close-btn:hover .close-icon,
.modal-close-btn:focus .close-icon {
  fill: var(--background-color-white);
}
/* =========================/MODAL-WINDOW==================================== */

/* =========================MODAL-FORM==================================== */
.modal-form-contact {
  display: flex;
  flex-direction: column;
}

.modal-form-field {
  margin-bottom: 8px;
}

.modal-form-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-form-input-desc {
  display: block;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 8px 38px;

  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;

  transition: fill var(--transition-dur-and-func);
}

.modal-form-input:focus {
  outline: none;
  border-color: #4d5ae5;
}

.modal-form-input:focus + .modal-form-contact-icon {
  fill: #4d5ae5;
}

.modal-form-input-wrapper {
  display: block;
  position: relative;
}

.modal-form-contact-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
}

textarea {
  resize: none;
}

.modal-form-textarea {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;

  transition: border-color var(--transition-dur-and-func);
}

.modal-form-textarea:focus {
  outline: none;
  border-color: #4d5ae5;
}

.modal-form-textarea::placeholder {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-check-desc {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #757575;
  margin-top: 8px;
  margin-bottom: 24px;
}

.modal-form-check-desc::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  border: 1.25px solid #2e2f42;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
}

.modal-form-check:checked + .modal-form-check-desc::before {
  background-color: #404bbf;
  background-image: url(../images/check-mark-modal.svg);
  background-size: contain;
  border: 1.25px solid #404bbf;
  background-origin: border-box;
}

.modal-form-contact .modal-form-contact-btn {
  align-self: center;
  width: 169px;
  height: 56px;
}

/* =========================/MODAL-FORM==================================== */
